.glyphicon {
    margin-right:5px;
}

@font-face {
    font-family: 'Comfortaa Regular';
    src: local('Aurek-Besh'),
    local('Aurek-Besh'),
    url('Aurek-Besh.ttf') format('truetype');

}

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.jumbotron {
    background-image: url("/static/img/header_logo.png");
    background-color: #474342;
    min-height: 50%;
    margin-top: 12px;
    background-repeat: no-repeat;
    background-position: 5vh;
    margin-right: 105px;
    margin-left: 105px;
    border-radius: 6px;
    background-size: 9%;
    font-family: 'Aurek Besh';
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: -28px;
    margin-bottom: -36px;
}

.thumbnail img
{
    margin-top: 10px;
}

body, html {
    background: url("http://inn.spb.ru/images/600/DSC100664338.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

a.cart {
    color: #2da1c1;
    font-size: small;
    text-decoration: none;
    float: right;
}